<a href="https://colab.research.google.com/github/nazihkhelifa/HW/blob/main/String_and_Lists_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A = range(1,301,1)

range(1, 301)

In [ ]:
print('the first number in the list is :',A[0] ,'and the last on is:' ,  A[299])

the first number in the list is : 1 and the last on is: 300

In [ ]:
even_list = [ n  for n in A if n % 2 ==  0 ]

In [ ]:
len(even_list)

150

In [ ]:
print('the first even number in the list is :',even_list[0] ,'and the last on is:' ,  even_list[149])

the first even number in the list is : 2 and the last on is: 300

In [ ]:
print([ i for i in even_list  if  i == 57 ], "57 doesn't existe ")

[] 57 doesn't existe

In [ ]:
even_sqr_list = [ n*n  for n in A if n % 2 ==  0 ]

In [ ]:
print('the first even number in the list is :',even_sqr_list[0] ,'and the last on is:' ,  even_sqr_list[149])

the first even number in the list is : 4 and the last on is: 90000